* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Rubik";
}

#container {
    position: relative;
    width: 75%;
    padding: 72pt;
    background: url(/img/defyinglogo.png) center/468pt no-repeat fixed;
    transition: all 0.1s ease !important;
    margin: auto;
}

.roster {
    margin-top: 30em !important;
    font-weight: 500 !important;
    font-size: 24pt !important;
}

.section {
    margin-top: 24pt !important;
}

.section-title {
    font-size: 12pt !important;
    font-weight: 600 !important;
}

.player-list span {
    display: block !important;
}

.player {
    width: 25% !important;
    margin-bottom: 16pt !important;
    font-weight: 400 !important;
    font-size: 11pt !important;
    height: 18px !important;
}

.player:hover {
    margin-bottom: 2pt !important;
    height: 50% !important;
}

.player:hover>.player-info {
    opacity: 0.75 !important;
    height: 18px !important;
}

.player-info {
    height: 0px !important;
    font-weight: 300 !important;
    font-size: 11pt !important;
    opacity: 0 !important;
}

.side-title {
    margin-top: 24pt !important;
    font-weight: 600 !important;
    font-size: 11pt !important;
}

.position-title {
    margin-top: 6pt !important;
    margin-bottom: 14pt !important;
    font-weight: 500 !important;
    font-size: 10pt !important;
}
