* {
    margin: auto !important;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Rubik", Arial, sans-serif;
    text-align: center;
}

#container {
    position: relative;
    width: 75%;
    padding: 72pt;
    background: url(/img/defyinglogo.png);
    background-size: 468pt;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: all 100ms ease;
}

.section {
    margin-top: 24pt !important;
}

.roster {
    margin-top: 30em !important;
    font-weight: 500;
    font-size: 24pt;
}

.section-title {
    font-size: 12pt;
    font-weight: 600;
}

.player {
    margin-top: 12pt !important;
    margin-bottom: 2pt !important;
    font-weight: 400;
    font-size: 11pt;
}

.player-info {
    font-weight: 300;
    font-size: 11pt;
}

.side-title {
    font-weight: 600;
    font-size: 11pt;
}

.position-title {
    margin-top: 2pt !important;
    font-weight: 500;
    font-size: 10pt;
}

.player-info span {
    display: block;
}